html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  --green: #52796f;
  --green-light: #84a98c;
  --green-dark: #354f52;
  --green-lightest: #cad2c5;
  --green-darkest: #2f3e46;
  --warning: #a01a58;
  --gray: #7d8597;
  --gray-light: #979dac;
  --gray-dark: #5c677d;
  --br: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
