.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex{
  display:flex;
  justify-content:center;
  align-items:center;
}
.flexColumn{
  display:flex;
  flex-direction:column;
}
.flexCentered{
  display:flex;
  align-items:center;
  gap:5px;
}

.modal{
  position: fixed;
  display: block;
  display:flex;
  flex-direction:column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(31, 32, 41, .75);
  opacity: 1;
  transition: opacity 250ms 700ms ease;
}
.modalContent{
  z-index:101;
  margin:auto;
  transition: opacity 250ms 700ms ease;
}
.closeModal{
  border:2px solid var(--green-darkest);
  border-radius:50%;
  padding:5px;
  width:50px;
  height:50px;
  margin:10px;
  position:absolute;
  z-index:101;
  font-size:1.25rem;
  color:#fff;
  background:var(--green-dark);
}
.closeModal:hover{
  cursor:pointer;
  background:var(--green);
}


.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:80px;
}
.headerLogo{
  display:flex;
  font-size: clamp(32px, 4vw, 42px);
}
.headerLogo > span{
  font-size: clamp(16px, 4vw, 22px);
  display:flex;
  flex-direction:column;
}
.profileButton{
  display:flex;
  flex-direction: column;
  width:52px;
  padding-top:10px;
}
.profileButton > button{
  background-color:inherit;
  color:green;
  border:none;
  margin-top:10px;
}
.profileButton > button:hover{
  cursor:pointer;
  color:grey;
}



.HomeCard{
  width:82vw;
  height:600px;
  color:white;
  font-size:clamp(18px,4vw,21px);
}
.HomeCardHeader{
  display:flex;
  justify-content:space-between;
  align-items:center;
  min-height:80px;
  background:var(--green-darkest);
  border-top-left-radius: var(--br);
  border-top-right-radius: var(--br);
  border-bottom:4px solid var(--green);
}
.HomeCardHeader > div:first-child{
  margin:20px;
}

.homeCardAddMeal{
  border:1px solid white;
  border-radius:15px;
  background:inherit;
  color:white;
  padding:10px;
  margin:10px;
  font-size:inherit;
}
.homeCardAddMeal:hover{
  color:var(--green-light);
  cursor:pointer;
}
.homeCardEntries{
  height:500px;
  background:var(--green-lightest);
  color:var(--green-darkest);
  display:flex;

}
.homeCardEntries>div{
  width:50%;
}
.history{
  display:flex;
  flex-direction:column;
  font-size:1rem;
}
.history > div{
  display:flex;
  gap:20px;
  padding:5px;
}



/*//////////////////////////////////*/

.modalContainer{
  background:var(--green-dark);
  padding:20px;
  border-radius:20px;
  font-size:1rem;
  display:flex;
  flex-direction:column;
  align-items:center;
  width:300px;
  border:4px solid var(--green-darkest);
}
.modalContainer > *{
  color:white;
}
.modalContainer > h3{
  margin:20px;
  font-size:1.5rem;
}
.modalContainer > button{
  background:var(--green);
  border:none;
  border-radius: 15px;
  padding:10px;
  margin-bottom:10px;
  font-size: 1.25em;
  box-shadow: 2px 4px 44px 0px var(--grey);
}
.modalContainer > button:hover{
  background:var(--green-light);
  cursor:pointer;
}
.modalContainer .message{
  color: red;
  font-size:1rem;
}
.modalContainer > form{
  width:200px;
  font-size:1em;
}
.modalContainer > form > label > input{
  width:100%;
  font-size:1em;
}



.createAccount{
  font-size:1.1em;
}
.createAccount:hover{
  cursor:pointer;
  color:var(--green-lightest);
}



.mealHistoryContainer{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:20px;
  border-radius:20px;
  border:4px solid var(--green-darkest);
  width:80vw;
  background:var(--green);
  color:white;
}
.mealHistoryContainer > div{
  text-align:center;
  margin:5px;
}



.display{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100vw;
}
.visualization{
  background:lightblue;
  width:82vw;
  border: 2px solid gray;
  border-radius:var(--br);
  height:200px;
}
.visualizationTitle{
  font-size: clamp(18px,4vw,21px);
  padding:2px;
}



.addMealCard{
  border-radius:15px;
  padding:20px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.addMealCard > button{
  border:none;
  background:inherit;
  color:grey;
  font-size: clamp(16px,4vw,20px);
  border-radius:10px;
  padding:6px;
  margin:5px;
}
.addMealCard > button:hover{
  cursor:pointer;
  color:#fff;
  background:grey;
}
.addMealVisuals{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  margin:5px;
}
.addUserByEmail{
  border:1px solid red;
  padding:15px;
  display:flex;
  flex-direction:column;
  align-items:center;
  width:400px;
}
.addUserByEmail > button{
  margin: 10px;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
